# IceStick pinout file
# iCE40HX1K-TQ144

# 12 MHz clock
set_io clk 21

# RS232 UART
set_io uart_rx 9   # FTDI TX -> FPGA RX
set_io uart_tx 8   # FPGA TX -> FTDI RX

# LEDs
set_io leds[0] 99  # D1
set_io leds[1] 98  # D2
set_io leds[2] 97  # D3
set_io leds[3] 96  # D4

# PMOD connector for trigger I/O
set_io trigger_in  78  # PMOD1
set_io trigger_out 79  # PMOD2

# Reset - using PMOD pin
set_io rst 87  # PMOD7