# Tool directories
IceStick/arachne-pnr/
IceStick/icestorm/
IceStick/nextpnr/

# Build outputs
*.bit
*.bin
*.asc
*.blif
*.edif
*.dcp
*.log
*.jou
*.rpt
*.pb
*.xsa
__pycache__/
*.pyc

# Simulation
*.vcd
*.fst
*.lxt
*.lxt2
*.vvp
*.out

# Vivado
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.xpr